body {
  background-color: #333;
  font-family: sans-serif;
  color: #eee
}

button {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  background-color: white;
  padding: 5px 30px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

button:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

select {
  width: 80px;
  height: 60px;
  background-color: white;
  font-size: 40px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

label {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

label > span {
  margin-right: 20px;
}

input {
  min-width: 100px;
  padding: 5px;
  font-size: 20px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

h1 {
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: center;

}

header > h1 {
  text-shadow: -2px 0 0 #dbab2a;
}

a {
  color: #dbab2a;
  margin: 15px 0;
}

footer {
  text-align: end;
  margin-right: 50px;
  font-size: 12px;
}

.control_panel {
  /*box-shadow: 0 3px 6px rgba(255,255,255,0.16), 0 3px 6px rgba(255,255,255,0.23);*/
  padding: 20px;
  color: #333333;
  background: #ddd;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 17px 70px;
  /* justify-items: center; */
  align-items: center;
  right: 40px;
  top: 40px;
}

@media (max-width: 850px) {
  .control_panel {
    grid-template-columns: 1fr;
  }
}

.img_wrapper {
  box-shadow: 0 3px 6px rgba(255,255,255,0.16), 0 3px 6px rgba(255,255,255,0.23);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 30px;
  background-color: white;
  border-radius: 5px;
  flex: 1;
  min-height: 100%;
}

.input_file {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
}
