body {

  background-color: #d1d1d1;
}

.control_panel {
  padding: 20px;
  background: #aaaaaa;
  border-radius: 5px;
}

.selector {
  font-size: 20px;
}

input, button, .selector, .control_panel {
  font-size: 15px;
}

